<!DOCTYPE html>
<html>
	<head>
		<title>Wash Wizard</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="importmap">{"imports": {"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"}}</script>
	</head>
	<body>
		


		<div class="container" id="appContainer">
			<div class="row mySpacer">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
					<div id="screen">
					
					
					
						<div id="app">
							<div id="mainMenuSlide" class="slide" v-bind:style="mainMenuSlideCSS">
								<div class="washCycle">
									<p v-for="item in washCycles.list">{{item.name}}</p>
								</div>
							</div>
							<div id="washOptionsSlide" class="slide" v-bind:style="washOptionsSlideCSS">
								<div class=container>
									<div class="row" style="margin: auto; width: 70%; border: 1px solid blue;">
										<div class="col-4" v-for="(item, index) in washCycles.list" style="padding: 4px;">
											<button class="washCycleBtn btn" v-bind:id="index" v-on:click="selectWashCycle(index)">
												<img v-bind:src="item.source" style="margin-bottom:0.5em"></img>
												<p style="margin-bottom: 0">{{item.name}}</p>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div id="currentRunningCycleSlide" class="slide" v-bind:style="currentRunningCycleSlideCSS">
								<p>You are running:</p>
								<div>
									<img v-bind:src="chosenCycle.source" style="margin-bottom:0.5em"></img>
									<p style="margin-bottom: 0">{{chosenCycle.name}}</p>
								</div>
								<input v-on:click="cancelWash" type="button" class="btn" value="Cancel" id="cancelBtn"></input>
							</div>
							<div id="customCycleSlide" class="slide" v-bind:style="customCycleSlideCSS">
								
							</div>
							<div id="cycleGlossarySlide" class="slide" v-bind:style="cycleGlossarySlideCSS">
								<div class="container">
									<div class="backbutton" style="position: absolute; top: 10px; left: 10px;">
										<img src="icons/Back Button.png">
									</div>
									<div class="col-8" style="margin: auto; width: 70%; justify-items: center;">
										<img src="icons/Cycle Glossary Noframe.png">
										<p>Symbol Glossary</p>
									</div>
									<div class="row" style="margin: auto; width: 100%;">
										<div class="col-5" style="padding: 4px; border-right: 1px solid black;">
											<b>Temperature</b>


										</div>
										<div class="col-4" style="padding: 4px; border-right: 1px solid black;">
											<b>Cycle Types</b>


										</div>
										<div class="col-3" style="padding: 4px;">
											<b>Bleach Icons</b>


										</div>
									</div>



									<div class="row" style="margin: auto; width: 100%;">
										<div class="col-3" style="padding: 4px; justify-items: center;">
											<div class="row" style="justify-content: center; margin-top: 10px;">
												<img src="icons/temp_30c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 20px;">
												Wash at 30°C
											</div>
											
											<div class="row" style="justify-content: center;">
												<img src="icons/temp_40c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 20px;">
												Wash at 40°C
											</div>

											<div class="row" style="justify-content: center;">
												<img src="icons/temp_50c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center;">
												Wash at 50°C
											</div>
										</div>
										<div class="col-2" style="padding: 4px; border-right: 1px solid black;">
											
											<div class="row" style="justify-content: center; margin-top: 10px;">
												<img src="icons/temp_60c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 20px;">
												Wash at 60°C
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/temp_70c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 20px;">
												Wash at 70°C
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/temp_95c_icon_64.png">
											</div>
											<div class="row" style="justify-content: center;">
												Wash at 95°C
											</div>
										</div>




										<div class="col-2" style="padding: 4px;">
											<div class="row" style="justify-content: center;">
												<img src="icons/Normal Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Normal Wash
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/Perm Press Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Perm Press
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/Delicates Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Delicates
											</div>
										</div>
										<div class="col-2" style="padding: 4px;border-right: 1px solid black;">
											<div class="row" style="justify-content: center;">
												<img src="icons/Hand Wash Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Hand Wash
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/Heavy Duty Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Heavy Duty
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/Sanitary Noframe.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Sanitary Wash
											</div>
										</div>




										<div class="col-3" style="padding: 4px;">
											<div class="row" style="justify-content: center;">
												<img src="icons/any_bleach_icon.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 6px;">
												Any Bleach
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/nonchlorine_bleach_icon.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 6px;">
												Non-Chlorine Bleach
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/chlorine_bleach_icon.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 6px;">
												Chlorine Bleach
											</div>
											<div class="row" style="justify-content: center;">
												<img src="icons/no_bleach_icon.png">
											</div>
											<div class="row" style="justify-content: center; margin-bottom: 10px;">
												Do Not Bleach
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
					</div>
				<div class="col"></div>
			</div>
			<div class="row mySpacer">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div>
		
		
		
		

		<script type="module">
		import { createApp } from 'vue'

		var myVueApp = createApp({
			methods:{
				cancelWash(){
					this.currentRunningCycleSlideCSS.display = "none";
					setTimeout(() => {
						this.mainMenuSlideCSS.display = "block";
					},300);
				},
				selectWashCycle(idx){
					console.log("Button " + idx + " was pressed!");
					this.washOptionsSlideCSS.display = "none";
					setTimeout(() => {
						this.currentRunningCycleSlideCSS.display = "block";
					},300);
				},
			},
			data() {
				return {
					chosenCycle:{
						name: "Normal",
						temp: 0,
						rinse: 0,
						soil: "Low",
						spin: "High",
						source: "icons/Normal.png"
					},
					mainMenuSlideCSS:{
						display: "none",
					},
					washOptionsSlideCSS:{
						display: "none",
					},
					currentRunningCycleSlideCSS:{
						display: "none",
					},
					cycleGlossarySlideCSS:{
						display: "block",
					},
					customCycleSlideCSS:{
						display: "none",
					},
					washCycles:{
						list:[
							{
								name: "Normal",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "icons/Normal.png"
							},
							{
								name: "Perm Press",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "icons/Perm Press.png"
							},
							{
								name: "Delicates",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "icons/Delicates.png"
							},
							{
								name: "Heavy Duty",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "icons/Heavy Duty.png"
							},
							{
								name: "Poop",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "url"
							},
							{
								name: "More poop",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "url"
							},
							{
								name: "Custom",
								temp: 0,
								rinse: 0,
								soil: "",
								spin: "Med",
								source: "url"
							},
						]
					},
					glossary :{
						list:[
							{
								label: "abc",
								source: "url"
							},
						]
					},
				}
			},
			mounted() {
				console.log("App is ready");
			},
		}).mount('#app')
		</script>
	</body>
</html>
