/*
	Page setup CSS
*/
body{
	background-color: black;
	border: 1px solid black;
}

.mySpacer{
	padding: 5%;
}

#screen{
	width: 722px;
	height: 362px;
	border: 1px solid white;
	background-color: black;
	opacity: 0.1;
	transition-duration: 0.5s;
}

#screen:hover {
	background-color: transparent;
	opacity: 1;
}

#screen:not(:hover) {
	transition-delay: 2s;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/*
	Main app CSS
*/
#app{
	width: 720px;
	height: 360px;
	border: 1px solid white;
	background-color: white;
}

.slide{
	border: 1px solid white;
	text-align: center;
	display:block;
	height: 100%;
}

/*
	Running cycle screen CSS
*/

.washCycleBtn{
	width: 150px;
	display:block;
	transition-duration: 0.2s;
}

.washCycleBtn:hover {
  background-color: #fc9aaa; /* Green */
  color: white;
}



/*
	Main Menu CSS
*/

h1{
	font-size: 60px;
	margin-bottom:  50px;
}

#menuButtons
{
	display: flex;
	margin: auto;
	justify-content: space-around;
	text-align: center;
}

/*
	Spinner
	https://www.w3schools.com/howto/howto_css_loader.asp
*/

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
